<div class="form-group mb-0">
    <label>{% trans %}aropixel.menu.form.section.label{% endtrans %}</label>
    <input type="text"
           class="form-control"
           data-aropixel-menu-target="sectionLabel"
           placeholder="{% trans %}aropixel.menu.form.section.label_placeholder{% endtrans %}"
    >
    <input type="hidden" data-type="section" data-source="section" data-color="{{ source.color }}">
</div>
